.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(54, 63, 28, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 8px;
  background-color: #202020;
  padding: 24px;
  color: rgb(255, 255, 255);
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #202020;
  border: none;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  font-size: 20px;
  line-height: 0;
  color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.closeButton:hover {
  background: #3f3e3e;
}

.closeButton:focus {
  outline: none;
}
